body {
  font-family: Arial;
  background: #f4f6f8;
  margin: 0;
}

nav {
  background: #0a2a43;
  padding: 15px;
}

nav h2 {
  color: white;
  display: inline;
  margin-right: 20px;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

main {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
}

.alert {
  background: #ffe5e5;
}

input, button {
  padding: 10px;
  margin: 5px;
}
